:root {
	/* Base font size */
	font-size: 10px;

	/* Heading height variable*/
	--heading-height: 25em;
}
.grid-container-element { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
    width: 100%; 
} 
.grid-child-element { 
    margin: 10px; 
	text-align: center;
	margin-left: auto; 
	margin-right: auto;
	
}
body {
	font-family: "Roboto", Arial, sans-serif;
	min-height: 100vh;
	background-color:#002741;
}

header {
	position: fixed;
	width: 100%;
	height: var(--heading-height);
}

/* Create angled background with 'before' pseudo-element */
header::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: 6em;
	width: 100%;
	height: calc(var(--heading-height) + 10em);
	z-index: -1;
	transform: skewY(-2.5deg);
	background: 
		linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
		linear-gradient(#4e4376, #2b5876);
	background-size: cover;
	border-bottom: .2em solid #fff;
}

h1 {
	font-size: calc(2.6em + 2.4vw);
	font-weight: 700;
	letter-spacing: .01em;
	padding: 1rem 0 0 4.5rem;
	text-shadow: .022em .022em .022em #111;
	color: #fff;
}
h2 {
	font-size: calc(.5em + .5vw);
	font-weight: 700;
	letter-spacing: .01em;
	padding: 10rem 0 0 1.8rem;
	text-shadow: .022em .022em .022em #111;
	color: #fff;
}
h3 {
	font-size: calc(.5em + .5vw);
	font-weight: 700;
	letter-spacing: .01em;
	text-shadow: .022em .022em .022em #111;
    color: #fff; 
}

h3.faq{
	padding:1em;
	font-size:calc(1em + 1vw);
}

a {
	font-size: calc(.5em + .5vw);
	font-weight: 700;
	letter-spacing: .01em;
	text-shadow: .022em .022em .022em #111;
	color: #fff; 
	padding: 3rem 0 0 3rem;
}



input[type=submit] {
    padding:5px 15px; 
    margin: 10px 13px;
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

input[type="text" i] {
	padding: 1em;
	background:#ccc; 
	color:#666666;
	border:2px solid transparent;
	border-radius: 10px;
	outline:none;
}
input[type="password" i] {
	padding: 1em;
	width: 20vw;
	height: 1vw;
	background:#ccc; 
	color:#666666;
	border:2px solid transparent;
	border-radius: 10px;
	outline:none;
}

#username{
	padding: 1em;
	margin: 1em;
	width: 20vw;
	height: 1vw;
	background:#ccc; 
	color:#666666;
	border:2px solid transparent;
	border-radius: 10px;
	outline:none;
}


#id_chosenAttack{
    padding:5px 15px; 
    margin: 10px 130px;
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

textarea{
    padding:5px 15px; 
    margin: 10px 130px;
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 2em;
	background: 
		linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
		linear-gradient(#4e4376, #2b5876);
	color: white;
	text-align: center;
  }

.styled-table {
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	font-family: sans-serif;
	min-width: 400px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	width: 90%;
	height: 90%;
	text-align: center;
    margin-left: auto; 
	margin-right: auto;
}
.styled-table thead tr {
    background-color: #A0ACBD;
    color: #002741;
    text-align: left;
}
.styled-table th,
.styled-table td {
	padding: 12px 15px;
	border: 1px #002741;
	border-radius: 3px; 
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #A0ACBD;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #A0ACBD;
}
p.faq {
	padding: 2em;
	padding-top: 0;
	padding-bottom: 0;
	color: white;
	font-size: 18px;
	line-height: 1.6;
	
}

.textDiv{
	padding:5px 15px; 
	margin: 10px 130px;
	width:345px;
	height:150px;
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
	border-radius: 5px; 
	text-align: left;
	font-family: monospace;
	text-rendering: auto;
	overflow-y:auto;
	text-indent: 0px;
	font-size: 13.5px;
}