{% extends "AdversarialTool/layout.html" %}
{% block body %}
<div style="height: 300px;"></div>
<h1 style="padding-top: .2em">About the Attacks</h1>

<h3 class = 'faq'>BERT-Attack [<a href="https://arxiv.org/abs/2004.09984" style="padding:0" target="_blank">paper</a>]
    [<a href="https://github.com/LinyangLee/BERT-Attack" style="padding:0" target="_blank">code</a>] </h3>

<h3 class = 'faq'>PWWS [<a href="https://aclanthology.org/P19-1103/" style="padding:0" target="_blank">paper</a>]
    [<a href="https://github.com/JHL-HUST/PWWS" style="padding:0" target="_blank">code</a>]</h3>

<h3 class = 'faq'>Genetic [<a href="https://arxiv.org/abs/1804.07998" style="padding:0" target="_blank">paper</a>]
    [<a href="https://github.com/nesl/nlp_adversarial_examples" style="padding:0" target="_blank">code</a>]</h3>

<h3 class = 'faq'>SememePSO [<a href="https://arxiv.org/abs/1910.12196" style="padding:0" target="_blank">paper</a>]
    [<a href="https://github.com/thunlp/SememePSO-Attack" style="padding:0" target="_blank">code</a>]</h3>

<h3 class = 'faq'>FD [<a href="https://arxiv.org/pdf/1604.08275.pdf" style="padding:0" target="_blank">paper</a>]
    </h3>

<h3 class = 'faq'>Viper [<a href="https://arxiv.org/pdf/1903.11508v1.pdf" style="padding:0" target="_blank">paper</a>]
    [<a href="https://github.com/UKPLab/naacl2019-like-humans-visual-attacks" style="padding:0" target="_blank">code</a>]</h3>



    <div style="height: 50px;"></div>

{% endblock %}