{% extends "AdversarialTool/layout.html" %}
{% block body %}
<div style="height: 200px;"></div>
<div class="grid-container-element">
    
    <div class="grid-child-element input">
    <h2>Enter text to see what emotion it might be classified: </h2>
        <form action="{% url 'AdversarialTool:emotions' %}" method="post">
            {% csrf_token %}
            {{form}}
            <br>
            <input type="submit" value="Check Classification">
        </form>
        </div>

        <div class="grid-child-element output">
        {% if textInputted %}
            {% if attackSucess %}
            <h2 style="padding: 7.5rem 0 0 1.5rem;">This attack was SUCCESSFUL! </h2>
            {% else %}
            <h2 style="padding: 7.5rem 0 0 1.5rem;">This attack was NOT Sucessful </h2>
            {% endif %}
            <h3>The given text is originaly classified as {{startingClassification}} </h3>
            <textarea rows="10" cols="40">{{OutputResults}}</textarea>
            {% if attackSucess %}
            <h3>This slightly altered text is classified as {{attackedClassification}} </h3>
            {% endif %}

            {% if request.user.is_authenticated %}
                {% if attackSucess %}
            <form action="{% url 'AdversarialTool:savedAttacks' %}" method="post">
                {% csrf_token %}
                <input type="hidden", name="attack", value="{{OutputResults}}">
                <input type="hidden", name="origInput", value="{{givenText}}">
                <input type="hidden", name="attackType", value="{{attackType}}">
                <input type="hidden", name="originalClassification", value="{{startingClassification}}">
                <input type="hidden", name="newClassification", value="{{attackedClassification}}">
                <input type="submit", name="Save", value="Save this Attack">
            </form> 
                {% endif %}
            {% endif %}
    {% endif %}
    </div>

</div>
{% endblock %}