{% extends "AdversarialTool/layout.html" %}
{% block body %}
<div style="height: 300px;"></div>
<h1 style="padding-top: .2em">Examples</h1>

<h3>Here are a few examples of using the emotion-based tool <b>successfuly</b>: </h3>
<img src="images/emotionalSucess1.png">
<img src="images/emotinalSuccess2.png">

<h3>Here are a few examples of using the stress-based tool <b>successfuly</b>: </h3>
<img src="images/stressSuccess.png">

<h3>Here are a few examples of using the stress-based tool <b>unsuccessfuly</b>: </h3>
<img src="images/stressFail.png">
<div style="height: 50px;"></div>
{% endblock %}