{% extends "AdversarialTool/layout.html" %}
{% load static %}
{% block body %}
<div style="height: 300px;"></div>
<h1 style="padding-top: .2em">Examples</h1>

<h4>The emotion-based tool <i>successfuly</i> being used: </h3>
<img src="{% static 'images/emotionalSucess1.png' %}">
<div style="height: 20px;"></div>
<img src="{% static 'images/emotinalSuccess2.png' %}">

<h4>The stress-based tool <i>successfuly</i> being used: </h3>
<img src="{% static 'images/stressSuccess.png' %}">

<h4>The the stress-based <i>unsuccessfuly</i> being used: </h3>
<img src="{% static 'images/stressFail.png' %}">

<h4>The the emotion-based <i>unsuccessfuly</i> being used: </h3>
    <img src="{% static 'images/EmotionalFail.png' %}">


<div style="height: 75px;"></div>
{% endblock %}