<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <link rel="stylesheet" href="{% static 'AdversarialTool/styles.css' %}">
    <head>
        <title>Adversarial Tool</title>
    </head>
    <body>
        <header>
            <div class="grid-container-element">
            <div class="grid-child-element input">
            <a href="/AdversarialTool" style="text-decoration: none"><h1>Adversarial Tool</h1></a>
            </div> 
            <div class="grid-child-element output">
            <a href="/AdversarialTool/emotions" style="text-decoration: none">Emotion Based Tool</a>
            <a href="/AdversarialTool" style="text-decoration: none">Stress Based Tool</a>

            {% if request.user.is_authenticated %}
                <a href="/AdversarialTool/logout" style="text-decoration: none">Logout</a>
                <a href="/AdversarialTool/savedAttacks" style="text-decoration: none">Saved Attacks</a>
            {% else %}
                <a href="/AdversarialTool/login" style="text-decoration: none">Login</a>
            {% endif %}
        </div>
    </div>
        </header>

        {% block body %}
        {% endblock %}
    </body>
    <div class="footer">
        <a href="/AdversarialTool/aboutAttacks" style="text-decoration: none">About the Attacks</a>
            <a href="/AdversarialTool/FAQ" style="text-decoration: none">FAQs</a>
            <a href="/AdversarialTool/examples" style="text-decoration: none">Examples</a>
        <a href="https://github.com/Siggy13/NLPAttack" style="text-decoration: none">Github</a>
        <a href="/AdversarialTool/about" style="text-decoration: none">About the Project</a>

      </div>
</html>