{% extends "AdversarialTool/layout.html" %}
{% block body %}
<div style="height: 340px;;"></div>
    {% if message %}
        <h3 style="text-align: center;">{{ message }}</h3>
    {% endif %}
    <h3 style="text-align: center;">Login or Sign up to save attacks</h3>
<div style="text-align: center;">
    <form action="{% url 'AdversarialTool:login' %}" method="post">
        {% csrf_token %}
        <input id="username" type="text", name="username", placeholder="Username"><br>
        <input type="password", name="password", placeholder="Password"><br>
        <input type="submit", name="Sign Up", value="Sign Up">
        <input type="submit", name="Login", value="Login">
    </form>
</div>
{% endblock %}