{% extends "AdversarialTool/layout.html" %}
{% block body %}
<div style="height: 300px"></div>
<table class="styled-table">
    <thead>
    <tr>
      <th>Original Text</th>
      <th>Original Classification</th>
      <th>Attack Type</th>
      <th>Attacked Output</th>
      <th>Attacked Classification</th>
    </tr>
</thead>
    <tbody>
    {% for attack in attacks %}
    <tr class="active-row">
        <td>{{attack.0}}</td>
        <td>{{attack.1}}</td>
        <td>{{attack.2}}</td>
        <td>{{attack.3}}</td>
        <td>{{attack.4}}</td>
    </tr>
</tbody>
    {% endfor %}
  </table>

{% endblock %}